html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'SF Pro Regular';
    src: url('../public/fonts/FontsFree-Net-SFProText-Regular.ttf');
  }

  @font-face {
    font-family: 'SF Pro Semibold';
    src: url('../public/fonts/FontsFree-Net-SFProText-Semibold.ttf');
  }

  @font-face {
    font-family: 'SF Pro Fullbold';
    src: url('../public/fonts/FontsFree-Net-SFProText-Bold.ttf');
  }
}

@media (min-width: 640px) {

  /* CSS that should be displayed if width is equal to or less than 640px goes here */
  .map-container {
    height: 250px !important;
  }
}

@media (min-width: 768px) {

  /* CSS that should be displayed if width is equal to or less than 768px goes here */
  .map-container {
    height: 300px !important;
  }
}

@media (min-width: 1024px) {

  /* CSS that should be displayed if width is equal to or less than 1024px goes here */
  .map-container {
    height: 600px !important;
  }
}

.map-container {
  height: 250px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}